@import url("https://fonts.googleapis.com/css?family=Poiret+One&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
input,
button {
  font-family: "Poiret One", cursive;
}

.app {
  background: lightgoldenrodyellow;
  padding: 1rem;
  border: 1px solid goldenrod;
  width: 90vw;
  margin: 0 auto;
}

.convert {
  text-align: center;
  color: goldenrod;
}

.equal {
  text-align: center;
  color: goldenrod;
  font-weight: bold;
  font-size: 2.4rem;
}
